@import "tailwindcss";

:root {
  --background: #F7F9FB;
  --foreground: #0E1116;
  --white: #000;
  --accent: #22C55E;
  --text-muted: #6b7280;
  --border: #d1d5db;
  --border-hover: #9ca3af;
  --surface: #ffffff;
  --surface-hover: #f3f4f6;
  --danger: #AA0000;
}

.dark {
  --background: #0E1116;
  --foreground: #F7F9FB;
  --white: #fff;
  --text-muted: #ffffff80;
  --border: #ffffff1a;
  --border-hover: #ffffff4d;
  --surface: #ffffff0d;
  --surface-hover: #ffffff1a;
  --danger: #FF5555;
}

html {
  background: var(--background);
  color: var(--foreground);
}